---
import Nexjs from "./icons/Nextjs.astro";
import Tailwindcss from "./icons/Tailwindcss.astro";
import JavaScript from "./icons/JavaScript.astro";
import Htm5 from "./icons/Htm5.astro"
import Css from './icons/Css.astro';
import Firebase from "./icons/Firebase.astro";
import React from "./icons/React.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    color: "bg-black text-white",
    icon: Nexjs,
  },

  TAILWIND: {
    name: "Tailwind CSS",
    color: "bg-[#003159] text-white",
    icon: Tailwindcss,
  },

  JAVASCRIPT: {
    name: "JavaScript",
    color:"bg-[#003159] text-white",
    icon: JavaScript,
  },

  HTML5: {
    name: "Html 5",
    color: "bg-[#003159] text-white",
    icon: Htm5,
  },

  Css: {
    name: "Css3",
    color: "bg-[#003159] text-white",
    icon: Css,
  },

  Firebase: {
  name: "Firebase",
  color: "bg-[#003159] text-white",
  icon: Firebase,

  },
  
  React: {
    name: "React js",
    color: "bg-[#003159] text-white",
    icon: React,
  }
  
};
const PROJECTS = [
{
    title:"Artesanias Colombianas",
    name: "",
    description:
      "Aplicación de comercio electrónico con React, Tailwind CSS y Firebase. La app incluye autenticación segura, carrito de compras, favoritos, alertas, paginación y navegación eficiente con React Router.",
    tags: [TAGS.JAVASCRIPT, TAGS.React, TAGS.Firebase, TAGS.TAILWIND],
    github:"https://github.com/EuclidesRomero/react-firebase",
    link: "https://artesanias-colombianas.netlify.app/",
    image: "/artesanias-foto.webp" 
  },
  {
    title:"Todo - app",
    name: "",
    description:
      "Una aplicación web para gestionar y organizar tareas diarias. Permite a los usuarios crear y eliminar tareas. Aunque es un proyecto básico, fue una excelente experiencia crear una aplicación 100% con JavaScript y hacerla reactiva.",
    tags: [TAGS.JAVASCRIPT, TAGS.HTML5, TAGS.Css],
    github: "https://github.com/EuclidesRomero/Todo--app-vanillaJS",
    link: "https://candid-brigadeiros-7aba97.netlify.app/",
    image: "/todoApp-foto.webp"
  },
];
---

{
  PROJECTS.map((project) => (
    <article class="pt-5">
      <h3 class="text-2xl font-semibold text-yellow-200 text-center mb-5">
        {project.title}
      </h3>
      <img class="rounded-lg shadow-white/10 size-2/4 block m-auto" src={project.image} />
      <p class="text-lg mb-4 text-pretty">{project.description}</p>
  
      <ul class="flex gap-x-2 flex-row">
        {project.tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.color} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <div class="flex flex-col mt-4 ">
      <a href={project.link} target="_blank"> link: {project.link}</a>
      <a href={project.github} target="_blank"> link: {project.github}</a>
      </div>
    </article>
  ))
}
